<!-- <p>dataview works!</p> -->
<!-- <h1>Bar Chart Concept</h1>

<div>
  <canvas id="lineChart" ></canvas><br>
  <canvas id="barChart"></canvas><br>
  <canvas id="pieChart"></canvas>
</div>
 -->

<!-- <div class="container-fluid"> -->
<div class="row">
    <div class="col-md-9">
        
        <nav class="navbar navbar-dark  navbar-expand-sm bar">
            <br>
            
          </nav>
        <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
            <div class="container-fluid">
                <img src="assets/arrow1.jpg"><a style="color: white;">BlueSecures</a>
                <a  class="navbar-brand" ></a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#form-navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="form-navbar">
                   
                    <form class="form-inline ml-auto">
                        <i class="fa fa-users icon" aria-hidden="true"></i>
                        <!-- <input type="search" class="form-control" placeholder="Search Here">&nbsp;&nbsp; -->
                        
                        
                    </form>
                </div>
            </div>
        </nav>
        <!--side nav bar-->
              
        <!-- <div class="wrapper"> -->
           
            <!-- <nav id="sidebar">
                
        
                <ul class="list-unstyled  components">
                    
                    <br>
                    <li>
                        <i class="fa fa-download" aria-hidden="true"></i>&nbsp; <a routerLink="view">View,Download,Print,
                            Reports & Delete Data</a><br><hr>
                    </li>
                    
                    <li>
                        <i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;<a routerLink="emp">Employees & Contractors</a><br><hr>
                    </li>
                    <li>
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;<a routerLink="customer">Customers,Suppliers,
                            partners,consultants etc</a><br><hr>
                    </li>
                    <li>
                        <i class="fa fa-users" aria-hidden="true"></i>&nbsp;<a routerLink="group">Groups</a><br><hr>
                            
                    </li>
                    <li>
                        <i class="fa fa-user-times" aria-hidden="true"></i>&nbsp;<a routerLink="inactiveuser">Inactive users </a><br><hr>
                            
                    </li>
                </ul>
        
            </nav> -->
           
        <!-- </div>  -->
        <!--side nav bar end-->

        <!-- <div class="row"> -->
            <!-- <div class="col-12"> -->
                <!-- &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <router-outlet></router-outlet> -->
        <!-- </div> -->
        <!-- </div>
         -->


         <!-- <div class="container"> -->
          
        <!-- </div>-->
        <!-- &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <div class="card1">
            
            <i class="fa fa-users" aria-hidden="true">&nbsp;</i>user & Groups
            
        </div>&nbsp; -->
        <div class="row">
            <div class="col-md-3 ">
                <nav class="sidebar">
                
        
                    <ul class="list-unstyled  components">
                        
                        <br>
                        <li>
                            <i class="fa fa-download" aria-hidden="true"></i>&nbsp; <a routerLink="view">View,Download,Print,
                                Reports & Delete Data</a><br><hr>
                        </li>
                        
                        <li>
                            <i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;<a routerLink="emp">Employees & Contractors</a><br><hr>
                        </li>
                        <li>
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;<a routerLink="customer">Customers,Suppliers,
                                partners,consultants etc</a><br><hr>
                        </li>
                        <li>
                            <i class="fa fa-users" aria-hidden="true"></i>&nbsp;<a routerLink="group">Groups</a><br><hr>
                                
                        </li>
                        <li>
                            <i class="fa fa-user-times" aria-hidden="true"></i>&nbsp;<a routerLink="inactiveuser">Inactive users </a><br><hr>
                                
                        </li>
                    </ul>
            
                </nav>

                <!---->               
                
                <!---->
                
            </div>

            <!-- first row -->
            <div class="row ">
                <div class="col-md-4 ">
                     <p class="  text-center p-4 mt-5 rounded-top rounded-bottom card1"><i class="fa fa-users" aria-hidden="true">&nbsp;</i>Users & Groups</p>
                </div>
                <div class="col-md-4">
                    <p class=" text-center p-4 mt-5 rounded-top rounded-bottom card2"><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;Subscription Billing & Invoice</p>
                </div>
                <div class="col-md-4">
                    <p class=" text-center p-4 mt-5 rounded-top rounded-bottom card3"> <i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download & Delete data</p>
                </div>
                

               
            </div>
            <!--first row end-->

            <!--second row-->
            <div class="row">
                <div class="col  seondrow">
                    <button rounded-top rounded-bottom><i class="fa fa-print" aria-hidden="true"></i>Print</button>&nbsp;
                     <button rounded-top rounded-bottom><i class="fa fa-download" aria-hidden="true"></i>Download</button>&nbsp;
                         <button rounded-top rounded-bottom><i class="fa fa-filter" aria-hidden="true"></i>filter</button>
                </div>
                <!-- <div class="col bg-primary">
                    vhvequ
                </div> -->
    
            </div>
            
            <!--second row end-->
            <!--Third row-->
           
            <div class="row Thirdrow">
                <div class="col">
                    <canvas id="pieChartone"></canvas>
                    
                </div>
                <div class="col ">
                    <canvas id="pieCharttwo"></canvas>
                </div>
    
            </div>
        
            <!-- Third row end-->
            <!--Fourth row-->

            <div class="row Fourthrow">
                <div class="col-md-12 ">
                    
                    <canvas id="barChart"></canvas>
                </div>
                
            </div>

            <!--Fourth row end-->
        </div>
       

    </div>
   

    
    
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-9 bg-teal">
                <br>
                <br>
                <input type="search" class="form-control" placeholder="Search Here">
                <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ducimus minus nam nobis quia quo recusandae saepe velit voluptas voluptate.</p> -->
            </div>
            <div class="col-md-3 bg-secondary symbolbar">
                <i class="fa fa-comments symbolicon" aria-hidden="true"></i><br><br>
                <i class="fa fa-code symbolicon" aria-hidden="true"></i><br><br>
                <i class="fa fa-file-code-o symbolicon" aria-hidden="true"></i>
                
                <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ducimus minus nam nobis quia quo recusandae saepe velit voluptas voluptate.</p> -->
            </div>

        </div>
        

    </div>
   

</div>

<!-- </div> -->