<nav class="navbar navbar-dark  navbar-expand-lg">
  <div class="container-fluid">
    <i class="fa fa-square-o" aria-hidden="true"></i><span>assignment &nbsp;></span>
    
      <br><br>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#form-navbar">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="form-navbar">
         
          <form class="form-inline ml-auto">
              <!-- <input type="search" class="form-control" placeholder="Search Here">&nbsp;&nbsp; -->
              
              
              
          </form>
      </div>
  </div>
</nav>



<app-dataview></app-dataview>