/* .card1{
    width: 250px;
    height: 70px;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6); */
    /* background-color: chartreuse; */
    /* text-align: center;
    margin-top: 10px;
    padding-top: 20px; */
    /* border-style: solid; */
  /* border-width: thin; */
  /* border-radius:5px;
  border-color: darkblue;

} */